//cores
$corDeFundo: #000;
$corDeFundoHero: #000;
$corDeFundoBarra: #fff;

$corDeFundoGradienteI1: #1B6CA7;
$corDeFundoGradienteF1: #442BDB;

$corDeFundoGradienteI2: #442BDB;
$corDeFundoGradienteF2: #89556B;

$corDeFundoGradienteI3: #89556B;
$corDeFundoGradienteF3: #9C791D;

$corDeFundoGradienteI4: #9C791D;
$corDeFundoGradienteF4: #009c2f;



$corTextoPrincipal: #fff;
$corTextoSecundario: #000;

$corBotao: #4F2AC3;




//Fonte
$fontePrincipal: 'Roboto', sans-serif;